.chat-msg {
    padding: 0.25em;
}

.chat-timestamp {
    font-style: italic;
    color: #707070;
}

.chat-username {
    font-weight: bold;
    margin-left: 0.25em;
    margin-right: 0.5em;
}

.chat-from-me {
    color: blue;
}

.chat-from-other {
    color: red;
}

.chat-body {

}

.chat-msg-code {
    font-family: monospace;
}

.chat-msg-link {

}
