.chat-msg {
    padding: 0.25em;
}

.chat-timestamp {
    font-style: italic;
    color: #707070;
}

.chat-username {
    font-weight: bold;
    margin-left: 0.25em;
    margin-right: 0.5em;
}

.chat-from-me {
    color: blue;
}

.chat-from-other {
    color: red;
}

.chat-body.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    max-height: 1em;
}

.notification-msg {
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    max-height: 1em;
}

.chat-msg-code {
    font-family: monospace;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    max-height: 48em;
}

.chat-msg-link {

}

.chat-body .user-mention {
    font-weight: bold;
}

#chat-send {
    display: none;
}